header
{
	background-image: url(../Asset/background2.jpg);
	background-size: 80%;
	padding: 30px;
	text-align: center;
	font-size: 150%;
	color: #99ff33;
	text-shadow: 2px 2px #000000;
	margin: 0 auto;
}
body
{
	margin: 0;
	padding: 0;
	color: #ffffff;
	background-color: #000000;
}
aside
{
	display: inline-block;
	float: left;
	width: 25%;
	padding: 5px;
	background-color: #000000;
}
aside img
{
	display: block;
	width: 100%;
	height: 300px;
	margin: 0 auto;
	padding: 0;
}
section
{
	float: clear;
	display: inline-block;
	width: 70%;
	height: 300px;
	padding: 15px;
	margin: 0 auto;
	font-size: 150%;
}
summary
{
	outline: none;
}
.logo
{

	display: inline-block;
	float: left;
	width: 30%;
	height: 300px;
}
details
{
	display: inline-block;
	font-size: 120%;
	float: clear;
	width: 70%;
	height: 300px;
}

footer
{
	text-align: center;
}
nav img
{
	display: inline-block;
	width: 240px;
	height: 300px;
	margin: 0 auto;
	padding: 35px;
}
a img
{
	-webkit-transition: 0.3s;
}
a img:hover
{
	-webkit-filter: none;
}
.Links
{
	-webkit-filter: blur(2px);
}
.oil
{
	display: inline-block;
	padding: 5px;
	width: 250px;
	height: 200px;
	margin: 0 auto;
}
.cool
{
	display: inline-block;
	padding: 5px;
	width: 250px;
	height: 200px;
	margin: 0 auto;
}
.fluid
{
	display: inline-block;
	padding: 5px;
	width: 250px;
	height: 200px;
	margin: 0 auto;
}
.pad
{
	display: inline-block;
	padding: 5px;
	width: 250px;
	height: 200px;
	margin: 0 auto;
}
.plug
{
	display: inline-block;
	padding: 5px;
	width: 250px;
	height: 200px;
	margin: 0 auto;
}
.bearing
{
	display: inline-block;
	padding: 5px;
	width: 250px;
	height: 200px;
	margin: 0 auto;
}